---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Page Title">
  <p>This is a long long text where is this text </p>
  <button class="btn">Hello daisyUI</button>  
</BaseLayout>
