---
import Drawer from "../components/Drawer.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../global.css";
const { title } = Astro.props;
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="bg-base-200">
    <Drawer>
      <div class="flex flex-col h-screen justify-between">
      <header>
        <Navbar />
      </header>
      <main class="mb-auto p-2">
          <slot />
      </main>
      <footer><Footer /></footer>
    </div>
    </Drawer>
  </body>
</html>
